<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <a class="navbar-brand fw-bold" href="/perfil" style="text-decoration:none; color:inherit;">Perfil</a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-item lines="none">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        <ion-input placeholder="Buscar"></ion-input>
      </ion-item>
      <ion-label class="ion-margin-end">Lakee</ion-label>
      <ion-icon name="person-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>